.responsive{
    position: absolute;
    width:100%;
    height:100vh;
    z-index: -1;
}
.navbar{
    z-index:10;
    margin-top:10px;
    /* padding:20px; */
}
#my-navbar{
    color:white;
}
a{
    color: white;
    font-size:20px;
    /* padding-right:20px; */
}
.logo{
    width:100%;
    height:auto;
}
.main{
    width:100%;
    height:100vh;
    text-align: center;
    margin-bottom: -10px;
}
#products{
    width:100%;
    height:auto;
}
#footer{
    width:100%;
    height:100vh;
    text-align: center;
}
#checkbox {
  
  background-color: #C6BFA5;
  padding: 30px 0px 30px 0px;
}

input[type="submit"] {
  background: #b71c1c;
  color: white;
  float: right;
  margin-right: 20px;
  margin-top:-10px;
}

input {
  border: 0;
  padding: 10px;
  clear:both;
}

input[type="checkbox"] {
  margin-left: 50px;
}
.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
    
}
form{
    width:100%;
}
.about{
    color:white;
    margin-top: 15%;
}
.about h1{
    font-size:60px;
} 
.about p{
    font-size:20px;
}
.arrow{
    position: absolute;
    bottom: 0;
    display: inline-block;
    margin-bottom:10px;
}
h1 {
    font-size: 18px;
}
.men-div, .women-div{
    text-align:center;
    margin:50px;
}
#women::before,
#men::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid  rgb(231, 232, 233);
    width: 80%;
   
    align-self: center;
    margin-bottom: 8px;
    /* transform: translateY(-1rem); */
}
#men::after{
    margin:0 2rem;
}
#women::before{
    margin:1rem 1;
}
.item-div{
    /* width:100%; */
    background-color: rgb(231, 232, 233);
    margin:0 auto;
    margin:30px;
    height:30%;
    padding-top:2vh;
    
    /* margin-left:20px; */
}
#aboutUs{
    overflow: hidden;
}
#aboutusImg{
    z-index:-1;
    /* position: absolute; */
    margin:0 auto;
    /* padding-top: 50vh; */
    width:100%;
    height: auto;


}
#about{
    /* position:relative; */
    text-align: center;
    padding-top: 7vw;
    color:white;
    font-size:1.5vw;
    padding-bottom: 7vw;
    /* display: inline-block; */
   
    /* z-index: 3; */
}

  
.child{
    /* padding:40px; */
    margin:0 30% 0 30%;
    border:.3rem solid  #908361;
  
}
.child h1{
    font-size:2.5vw;
}

#item-top{
    display: block;
}
#item{
    /* position: absolute; */
    text-align: left;
    bottom: 0;
}
span{
    float: right;
}
.image {
    height: 270px;
    width: 200px;
    padding: 20px;
    /* float: left; */
    /* background-color: #DCDCDC; */
  }
  .container{
      margin-top:50px;
  }
.women-div .pageNo{
    clear:right;
}  
.men-div .pageNo{
    clear:left;
}
.pageNo p{
    line-height: 0.2cm;
    font-size: 20px;
}
#sale{
    /* clear:both; */
    width:100%;
    height:50px;
    background-color:#535154;
    margin-top: -25px;
    
    bottom:0;
    color:white;
    font-size: 1vw;
    padding-left:50px;
    padding-top:8px;
    /* text-align: center; */
    /* position:fixed; */
}
.footer{
    color:white;
    background-color: #414141;
    text-align: center;

}
#footer_middle_bottom, #footermidtop, #footer_bottom{
    margin-top:30px;
    bottom:0;
}
